--allow-all-external
--allow-unverified jsonpath

# parser
git+https://github.com/scrapy/scrapely
jsonpath
jsonschema
pyparsing
pyquery
pyyaml

# database
psycopg2
pymongo
redis

# others
chardet
requests
supervisor
toolz

