[global]
   netbios name = easypi
   workgroup = WORKGROUP
   server string = EasyPi Samba Server
   server role = standalone
   map to guest = Bad User
   usershare allow guests = yes
   printcap name = /dev/null
   load printers = no

[homes]
   comment = Home Directories
   browseable = no
   writable = yes

[share]
   comment = Public File Sharing
   path = /share
   browseable = yes
   writable = yes
   guest ok = yes
   admin users = root
   root preexec = mkdir -p /share
