<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>owncast</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/owncast</string>
      <string>-rtmpport=1935</string>
      <string>-webserverport=8080</string>
      <string>-logdir=/usr/local/var/log/owncast</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/owncast.err.log</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/owncast.out.log</string>
    <key>WorkingDirectory</key>
    <string>/usr/local/etc/owncast</string>
    <key>RunAtLoad</key>
    <true/>
    <key>LimitLoadToSessionType</key>
    <array>
      <string>Aqua</string>
      <string>Background</string>
      <string>LoginWindow</string>
      <string>StandardIO</string>
      <string>System</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
  </dict>
</plist>
