[Unit]
Description=Resilio Sync Daemon
After=network.target
AssertPathExists=/etc/rslsync.conf
AssertPathIsDirectory=/data/.syncsystem
AssertPathIsDirectory=/data/syncaod

[Service]
ExecStart=/usr/bin/rslsync --nodaemon --config /etc/rslsync.conf
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
