[Unit]
Description=outline-ss-server
After=network.target

[Service]
User=vpn
Group=vpn
WorkingDirectory=/etc/outline-ss-server
# https://download.db-ip.com/free/dbip-asn-lite-2024-07.mmdb.gz
# https://download.db-ip.com/free/dbip-country-lite-2024-07.mmdb.gz
ExecStart=/usr/local/bin/outline-ss-server -config=config.yml \
                                           -ip_asn_db=ip-asn.mmdb \
                                           -ip_country_db=ip-country.mmdb \
                                           -metrics=127.0.0.1:9092 \
                                           -replay_history=10000
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
