[Unit]
Description=frp client
After=network.target

[Service]
ExecStart=/usr/local/bin/frpc -c /etc/frp/frpc.ini
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
