[Unit]
Description=frp client
After=network.target

[Service]
User=nobody
ExecStart=/usr/local/bin/frpc -c /etc/frp/frpc.ini
ExecReload=/usr/local/bin/frpc reload -c /etc/frp/frpc.ini
LimitNOFILE=65536
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
