[Unit]
Description=frp server
After=network-online.target

[Service]
DynamicUser=yes
ExecStart=/usr/local/bin/frps -c /etc/frp/frps.ini
LimitNOFILE=65536
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
