[Unit]
Description=frp server
After=network.target

[Service]
User=nobody
ExecStart=/usr/local/bin/frps -c /etc/frp/frps.ini
LimitNOFILE=65536
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
