[Unit]
Description=frp server
After=network.target

[Service]
ExecStart=/usr/local/bin/frps -c /etc/frp/frps.ini
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
