version: "3.8"

services:

  ntopng:
    image: vimagick/ntopng
    command: --community -d /var/lib/ntopng -i eth0 -r 127.0.0.1:6379@0 -w 127.0.0.1:3000
    volumes:
      - ./data/ntopng:/var/lib/ntopng
    network_mode: host
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    command: --save 900 1
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - ./data/redis:/data
    restart: unless-stopped
