postgres:
  image: postgres:alpine
  ports:
    - "5432:5432"
  volumes:
    - ./data:/var/lib/postgresql/data
  environment:
    - POSTGRES_USER=root
    - POSTGRES_PASSWORD=root
    - POSTGRES_DB=postgres
  restart: always
